/* SHARED
SHARED */



body, html {
height: 100%;
margin: 0;
}
.container {
  background-attachment: fixed;
    min-height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-family: 'Volkhov', serif;
   border-bottom: 1px solid gray;
}
.header {
margin: 0;
}
.header a{
color: black;
text-decoration: none;
}
.header a:hover{
text-decoration:overline;
}
a:active {
    color: pink;
}
.centered-text {
    text-align: center;
}
.text-between-slides {
 font-family: 'Lora', serif;
line-height: 3;
margin: 0 5%;
text-align: left;

}
 /* =====MAIN-PAGE======
    |          |         |
     =====MAIN-PAGE======   */
#my-photo {
    width: 250px;
    border-radius: 50%;
    opacity: 1;
top: 50%;
left: 50%;
}
.mainpage-parent {
   /* background-image: url('site/img/mainpage.jpeg'); */
height: 100%;
position: relative;

}
.mainpage {
position: absolute;
top: 50%;
left: 50%;
margin-top: -125px;
margin-left: -125px;

}

.descriptrion {
 font-size: 50%;
 text-align: center;
 font-family: 'Maven Pro', sans-serif;
}

/* 
=====SKILLS======
    |          |         |
     =====SKILLS======   */

#skills {
/* background-image: url('site/img/skills2.jpg'); */
font-family: 'Volkhov', serif;
font-size: 150%;
padding: 15%;
}
#skills p {
margin-bottom: 0;
}

/* 
=====WEBSITES-EXAMPLES======
    |          |         |
     =====WEBSITES_EXMPLES======   */

#websites-examples {
background-color: white;
   padding: 15%;

}
.website-examples__each {
    display: inline-block;
    width: 556px;
    height: 444.91px;
    margin:5%;
    border-radius: 5px;
  box-shadow: 1px 1px 8px 0px;

}

/* 
=====SKILLS======
    |          |         |
     =====SKILLS======   */

#hire-me {
/* background-image: url('site/img/websites-examples2.jpg'); */
display: flex;
justify-content: center;
align-items: center;
}


/* for mobile phones */
@media (max-width: 480px) {
.container {
    padding:25px;
}
#skills p {
    margin: 10%;
}
.text-between-slides {
    margin: 7%;
}
.header-margin {
    padding-top: 0;
}
.website-examples__each {
    width:100%;
    margin-bottom: 0;
    border: none;
    margin: 0 0 18px 0;
}
}

@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

